# History files
.Rhistory

# Example code in package build process
*-Ex.R
temp.R

# R data files from past sessions
.Rdata
*.Rproj

# RStudio files
.Rproj.user/
.Rproj.user

# Directories
Figures/
HTML_output/
Hillary_RecRem/
Report/
Data_external
Temp/
